select {
  height: 48px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #111517;
  border-right: 15px solid transparent;
  width: 200px;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.filterContainer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 678px) {
  .filterContainer {
    margin-top: 24px;
    margin-left: unset;
    margin-right: unset;
  }
}

@media screen and (min-width: 1440px) {
  select {
    height: 56px;
    font-size: 14px;
  }
}
