.searchBar {
  width: 343px;
  height: 48px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 26px;
  padding-left: 32px;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.searchBar img {
  width: 18px;
  height: 18px;
  filter: invert(55%) sepia(0%) saturate(1413%) hue-rotate(224deg) brightness(94%) contrast(95%);
}

.searchBar input {
  height: 20px;
  border: none;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #111517;
  height: 100%;
}

.searchBar input:focus {
  border: none;
  outline: none;
}

.searchBar input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
line-height: 20px;
color: #848484;
}

@media screen and (min-width: 678px) {
  .searchBar {
    margin-left: unset;
    margin-right: unset;
    max-width: 480px;
  }
}

@media screen and (min-width: 1440px) {
  .searchBar {
    height: 56px;
    width: 480px;
  }

  .searchBar input {
    font-size: 14px;
  }
}
